@import '../../styles/shared.scss';

.main-footer {
  height: 183px;
  background-image: url(../../images/footer-bg.png);
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.secondary-footer {
  display: flex;
  padding-top: 15px;
  background-color: #1c3b55;
}

.footer {
  &-wrapper {
    display: flex;
    width: 1180px;
    color: $white;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &-logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }
}

.form {
  margin: 0 auto 25px auto;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 580px;
  background-color: white;
  border-radius: 10px;
  border: 1px #f1f1f1 solid;

  ::placeholder {
    color: #b9b9b9;
    font-size: 16px;
  }

  &-input {
    width: 100%;
    height: 65px;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  &-btn {
    width: 175px;
    height: 55px;
    margin: 4px;
    color: $white;
    background-color: $accent;
    border: none;
    align-self: center;
    border-radius: 10px;
  }
}
